.profile-image {
  position: relative;
  overflow: hidden;
  max-width: 150px;
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}

.margin-small {
  margin-left: 30px;
}

.margin-large {
  margin-left: 80px;
}
