<md-toolbar color="primary">
  <span class="clickable" (click)="toggleSidebar()" *ngIf="isMobile && isAuthenticated">
    <md-icon>menu</md-icon>
  </span>
  <span routerLink="/dashboard" class="clickable">
    <img src="./assets/images/voyage-logo-horiz.svg" width="120px;" alt="voyage logo" />
  </span>
  <span class="fill-space"></span>
  <app-notification *ngIf="isAuthenticated"></app-notification>
  <button *ngIf="isAuthenticated" md-icon-button [mdMenuTriggerFor]="profileMenu" class="profile-icon"></button>
  <md-menu #profileMenu="mdMenu">
    <button md-menu-item routerLink="/examples/profile">
      <span>Profile</span>
    </button>
    <button md-menu-item style="border-bottom: 1px solid #dedede;">
      <span>Settings</span>
    </button>
    <button md-menu-item>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
