<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>Create Account</mat-card-title>
    <form [formGroup]="accountForm" (ngSubmit)="createAccount()" novalidate>
      <div fxLayout="column">
        <div fxLayout="row">
          <mat-select placeholder="Account Type" fxFlex formControlName="type" style="margin-top:15px; margin-bottom:30px;" required>
            <mat-option [value]="0">Checking</mat-option>
            <mat-option [value]="1">Savings</mat-option>
          </mat-select>
        </div>
        <div fxLayout="row">
          <mat-input-container fxFlex>
            <input mdInput placeholder="Account Name" formControlName="name" required maxlength="20">
            <mat-error *ngIf="accountForm.controls['name'].hasError('required')">
              Account Name is required
            </mat-error>
          </mat-input-container>
        </div>
        <div fxLayout="column" style="margin-top: 30px;">
          <button md-raised-button color="primary" type="submit">
            Create
          </button>
          <span>&nbsp;</span>
          <button routerLink="/examples/banking/dashboard" color="accent" md-raised-button type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
