<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>User Admin</mat-card-title>
    <div fxLayout="column">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedUser" placeholder="Choose a User">
          <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-list *ngIf="selectedUser != null">
        <mat-list-item>
          <p mat-line>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.isActive" (change)="onToggle()">
              Is Active
            </mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="selectedUser.isVerifyRequired" style="margin-left:20px;" (change)="onToggle()">
              Verification Required
            </mat-checkbox>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
