<div fxLayout="row" style="height:100%;">
  <md-card fxFlex style="padding:0; margin-bottom:0;">
    <md-sidenav-container class="chat-container">
      <md-sidenav #sidenav mode="{{isMobile ? 'over' : 'side'}}" opened="{{isMobile ? 'false' : 'true'}}" class="channel-list">
        <md-toolbar class="channel-toolbar">
          <span>Support Channels</span>
        </md-toolbar>
        <md-nav-list>
          <md-list-item *ngFor="let channel of channels" (click)="selectChannel(channel)" [ngClass]="{'active-channel': channel.channelId === currentChannel?.channelId}">
            <div>
              <md-icon>chat</md-icon>
            </div>
            <div class="channel-item-description">
              <span mdLine>{{channel.name}}</span>
              <p mdLine>{{channel.createDate | date:'short'}}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item (click)="createChannel()">
            <div>
              <md-icon>add</md-icon>
            </div>
            <div class="channel-item-description">
              <span mdLine>New Support Chat</span>
              <p mdLine></p>
            </div>
          </md-list-item>
        </md-nav-list>
      </md-sidenav>
      <div fxLayout="column" class="message-container">
        <md-toolbar class="channel-toolbar">
          <button md-icon-button (click)="toggleSidenav()">
            <span><md-icon>short_text</md-icon></span>
          </button>
          <div>
            <span>{{currentChannel?.name}}</span>
          </div>
        </md-toolbar>
        <div class="message-container-inner" #chatContainer>
          <md-spinner *ngIf="working"></md-spinner>
          <div fxLayout="row" style="margin-bottom:20px;" *ngFor="let message of currentChannel?.messages;">
            <span fxFlex *ngIf="message.username === currentUser.username"></span>
            <div class="message">
              <div class="message-bubble" [ngClass]="{'mine': message.username === currentUser.username, 'other': message.username !== currentUser.username}">
                <span>
                  {{message.message}}
                </span>
              </div>
              <div style="margin-top:5px;">
                <span class="message-signature">
                  <span *ngIf="message.username !== currentUser.username">{{message.username}} - </span>
                  <span>{{message.createDate | date:'short'}}</span>
                </span>
              </div>
            </div>
            <span fxFlex *ngIf="message.username !== currentUser.username"></span>
          </div>
        </div>
        <div *ngIf="currentChannel == null" class="help-message">
          <h1>Choose a support channel or click "New Support Chat" in the channel sidebar.</h1>
        </div>
        <div *ngIf="currentChannel != null" fxLayout="row" class="message-actions">
          <form [formGroup]="chatForm" fxFlex fxLayout="row" (ngSubmit)="createMessage()" novalidate>
            <md-input-container fxFlex>
              <input type="text" mdInput placeholder="Send Message" formControlName="message" />
            </md-input-container>
            <button md-fab color="primary" style="margin-left:30px" type="submit">
              <md-icon>send</md-icon>
            </button>
          </form>
        </div>
      </div>
    </md-sidenav-container>
  </md-card>
</div>
