<!-- Tablet / Desktop -->
<div fxLayout="row">
  <mat-card fxFlex="60" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-title>New Transfer</mat-card-title>
    <form [formGroup]="transferForm" (ngSubmit)="transfer()" novalidate>
      <div fxLayout="column">
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select placeholder="From Account" formControlName="fromAccountId" required>
              <mat-option *ngFor="let account of myAccounts" [value]="account.accountId">{{account.name}} {{account.accountNumber}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <mat-select placeholder="To Account" formControlName="toAccountId" required>
              <mat-option *ngFor="let account of accounts" [value]="account.accountId">{{account.name}} {{account.accountNumber}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <input matInput placeholder="Amount" formControlName="amount" type="number" required>
            <mat-error *ngIf="transferForm.controls['amount'].hasError('required')">
              Amount is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex>
            <input matInput placeholder="Memo" formControlName="memo">
          </mat-form-field>
        </div>
        <div fxLayout="column" style="margin-top: 30px;">
          <button mat-raised-button color="primary" type="submit">
            Transfer
          </button>
          <span>&nbsp;</span>
          <button routerLink="/examples/banking/dashboard" color="accent" mat-raised-button type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
