<div fxLayout="row">
  <md-card fxFlex="40" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <md-card-title>Deposit</md-card-title>
    <form>
      <div fxLayout="column">
        <div fxLayout="row">
          <md-select placeholder="From Account" fxFlex style="margin-top:15px; margin-bottom:30px;">
            <md-option *ngFor="let account of accounts">{{account.name}} {{account.accountNumber}}</md-option>
          </md-select>
        </div>
        <div fxLayout="row">
          <md-select placeholder="To Account" fxFlex style="margin-top:15px; margin-bottom:30px;">
            <md-option *ngFor="let account of accounts">{{account.name}} {{account.accountNumber}}</md-option>
          </md-select>
        </div>
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input mdInput placeholder="Amount">
          </md-input-container>
        </div>
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input mdInput placeholder="Memo">
          </md-input-container>
        </div>
        <div fxLayout="row">
          <button fxFlex.md="40" fxFlex.lg="30" fxFlex.xl="25" md-raised-button color="primary">Transfer Cash</button>
        </div>
      </div>
    </form>
  </md-card>
</div>
