@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$voyage-app-primary: mat-palette($mat-indigo);
$voyage-app-accent: mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$voyage-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$voyage-app-theme: mat-light-theme($voyage-app-primary, $voyage-app-accent, $voyage-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($voyage-app-theme);

// Dark Theme
$dark-primary: mat-palette($mat-deep-purple, A200, A100, A400);
$dark-accent:  mat-palette($mat-grey, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);
$voyage-theme-dark: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.voyage-theme-dark {
  @include angular-material-theme($voyage-theme-dark);
}
