<div fxLayout="row">
  <mat-card fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" *ngIf="!codeSent">
    <mat-card-title>Two-Factor Authentication</mat-card-title>
    <mat-card-content>
      Your account requires verification. A message with a verification code will be sent to your phone.
      Click the "Send Code" button to continue.
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="column" class="action-buttons">
        <button md-raised-button color="primary" (click)="sendCode()">
          Send Code
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" *ngIf="codeSent">
    <mat-card-title>Two-Factor Authentication</mat-card-title>
    <mat-card-content>
      A message with a verification code has been sent to your phone. Enter the code to continue.
    </mat-card-content>
    <form [formGroup]="verificationForm" (ngSubmit)="verify()" novalidate>
      <div fxLayout="column">
        <mat-input-container fxFlex>
          <input mdInput placeholder="Code" formControlName="code" required>
          <mat-error *ngIf="verificationForm.controls['code'].hasError('required')">
            Code is required
          </mat-error>
        </mat-input-container>
        <div fxLayout="column" class="action-buttons">
          <button md-raised-button color="primary" type="submit" [disabled]="verificationForm.invalid">
            Verify
          </button>
        </div>
        <div fxLayout="row" *ngIf="verificationFailed" style="color:#f44336; margin-top:20px;">
          Invalid code entered. Try again.
        </div>
      </div>
    </form>
  </mat-card>
</div>
