<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <md-card fxFlex>
    <md-card-title>Balance History</md-card-title>
    <md-spinner *ngIf="working"></md-spinner>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
      <div fxFlex="50">
        <canvas baseChart *ngIf="lineChart.data.length > 0"
          [datasets]="lineChart.data"
          [labels]="lineChart.labels"
          [options]="lineChart.options"
          [colors]="lineChart.colors"
          [legend]="lineChart.legend"
          [chartType]="lineChart.type"></canvas>
      </div>
      <div fxFlex="24" *ngFor="let chart of doughnutCharts.charts">
        {{chart.title}} Breakdown
        <canvas baseChart
          [data]="chart.data"
          [labels]="doughnutCharts.labels"
          [chartType]="doughnutCharts.type"
          [options]="doughnutCharts.options"
          [colors]="doughnutCharts.colors"></canvas>
      </div>
    </div>
  </md-card>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <md-card fxFlex *ngFor="let history of transactionHistory">
    <md-card-title>{{history.accountName}} Activity</md-card-title>
    <div fxLayout="row" class="voyage-table-header">
      <div fxFlex>Date</div>
      <div fxFlex="35" fxHide.xs>Description</div>
      <div fxFlex>Amount</div>
      <div fxFlex>Balance</div>
    </div>
    <div fxLayout="row" class="voyage-table-row" [ngClass]="{'dark-row': i % 2 === 0}" *ngFor="let transaction of history.transactions; let i = index;">
      <div fxFlex>{{transaction.date | date}}</div>
      <div fxFlex="35" fxHide.xs>{{transaction.description}}</div>
      <div fxFlex>{{transaction.type == 0 ? '-' : '+'}}{{transaction.amount | currency:'USD':true}}</div>
      <div fxFlex>{{transaction.balance | currency:'USD':true}}</div>
    </div>
  </md-card>
</div>
