<md-sidenav-container class="sidenav-height">
  <md-sidenav #sidenav mode="{{mobile ? 'over' : 'side'}}" opened="{{mobile ? 'false' : 'true'}}" *ngIf="isAuthenticated">
    <nav (click)="close()">
      <ul>
        <li>
          <a class="nav-item-container" routerLink="/examples/banking/dashboard" routerLinkActive="active">
            <i class="material-icons">show_chart</i>
            Balances
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLink="/examples/banking/transfer" routerLinkActive="active">
            <i class="material-icons">attach_money</i>
            Transfer
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">notifications</i>
            Notifications
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">chat</i>
            Chat <span style="margin-left: 90px;" class="badge">3</span>
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">supervisor_account</i>
            User Admin
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">assignment_ind</i>
            Role Admin
          </a>
        </li>
        <div class="nav-section-divider"></div>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">settings</i>
            Settings
          </a>
        </li>
        <li>
          <a class="nav-item-container" routerLinkActive="active">
            <i class="material-icons">help</i>
            Help & feedback
          </a>
        </li>
         <li>
          <md-slide-toggle class="nav-item-container" style="margin-left: 25px;" (click)="toggleTheme = !toggleTheme; $event.stopPropagation();">
            Use Dark Theme
          </md-slide-toggle>
        </li>
      </ul>
    </nav>
  </md-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
    <span class="done" *ngIf="isAuthenticated">
      <button md-fab>
        <md-icon>add</md-icon>
      </button>
    </span>
  </div>
</md-sidenav-container>
