<md-sidenav-container class="sidenav-height">
  <md-sidenav #sidenav mode="{{mobile ? 'over' : 'side'}}" opened="{{mobile ? 'false' : 'true'}}" *ngIf="isAuthenticated">
    <nav>
      <ul>
        <li><a class="clickable">Balances</a></li>
        <li><a class="clickable">Deposit</a></li>
        <li><a class="clickable">Notifications</a></li>
        <li><a class="clickable">Chat</a></li>
        <li><a class="clickable">User Admin</a></li>
        <li><a class="clickable">Role Admin</a></li>
        <li><a class="clickable">Settings</a></li>
        <li><a class="clickable">Help & Feedback</a></li>
      </ul>
    </nav>
  </md-sidenav>

  <div class="main-content">

    <router-outlet></router-outlet>

    <span class="done">
      <button md-fab>
        <md-icon>add</md-icon>
      </button>
    </span>
  </div>
</md-sidenav-container>
