<div fxLayout="row">
  <span fxFlex></span>
  <md-card fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <div>Sign Up</div>
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
      <div fxLayout="column">
        <md-input-container fxFlex>
          <input mdInput placeholder="Email" formControlName="email" required>
          <md-error *ngIf="registerForm.controls['email'].hasError('required')">
            Email is required
          </md-error>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="First Name" formControlName="firstName" required>
          <md-error *ngIf="registerForm.controls['firstName'].hasError('required')">
            First Name is required
          </md-error>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Last Name" formControlName="lastName" required>
          <md-error *ngIf="registerForm.controls['lastName'].hasError('required')">
            Last Name is required
          </md-error>
        </md-input-container>
        <div formArrayName="phoneNumbers" fxFlex>
          <div *ngFor="let phone of phoneNumbers.controls; let i=index" [formGroupName]="i" fxLayout="row">
            <md-input-container fxFlex="60">
              <input mdInput placeholder="Phone" formControlName="phoneNumber" required>
              <md-error *ngIf="phoneNumbers.controls[i].controls['phoneNumber'].hasError('required')">
                Phone and Type are required
              </md-error>
            </md-input-container>
            <md-select placeholder="Type" fxFlex formControlName="phoneType" fxFlex required style="margin-top: 14px;">
              <md-option value="0">Mobile</md-option>
              <md-option value="1">Office</md-option>
              <md-option value="2">Home</md-option>
              <md-option value="3">Other</md-option>
            </md-select>
          </div>
        </div>
        <md-input-container fxFlex>
          <input mdInput placeholder="Username" formControlName="username" required>
          <md-error *ngIf="registerForm.controls['username'].hasError('required')">
            Username is required
          </md-error>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Password" formControlName="password" type="password" required>
          <md-error *ngIf="registerForm.controls['password'].hasError('required')">
            Password is required
          </md-error>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
          <md-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
            Confirm Password is required
          </md-error>
        </md-input-container>
        <div *ngIf="registrationErrors?.length > 0">
          <span *ngFor="let error of registrationErrors" style="color:lightcoral">
            {{error.errorDescription}}
            <br />
          </span>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" style="margin-top: 10px;">
          <button md-raised-button color="primary" type="submit">Register</button>
          <span>&nbsp;</span>
          <button routerLink="/authentication/login" color="accent" md-raised-button type="submit">Cancel</button>
        </div>
      </div>
    </form>
  </md-card>
  <span fxFlex></span>
</div>
