.form-container {
  width: 100%;
  padding: 20px;
}

.icon-prefix {
  color: white;
  font-size: 26px;
  margin-right: 10px;
}

.white {
  color: #FFF;
}

.app-title {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.sign-up-message {
  font-size:16px;
  color:white;
}

.error {
  color: #f44336;
}
