<div fxLayout="row">
  <span fxFlex></span>
  <md-card fxFlex="33" fxFlex.lg="45" fxFlex.md="66" fxFlex.sm="100" fxFlex.xs="100">

    <img md-card-image src="./assets/images/voyage-logo-vert.svg">

    <div fxLayout="row">
      <a fxFlex (click)="goToOauthLogin()" color="primary" md-raised-button>Log In</a>
    </div>
    <div fxLayout="row" style="margin-top:10px;">
      Don't have an account?&nbsp;
      <a routerLink="/authentication/register" color="primary">Register Here</a>
    </div>
  </md-card>
  <span fxFlex></span>
</div>

