<!-- Tablet / Desktop -->
<div class="masthead" *ngIf="!isMobile">
  <div fxLayout="row">
    <mat-card fxFlex.md="50">
      <div fxLayout="column">
        <div fxLayout="row">
          <i class="material-icons">account_balance</i>
        </div>
        <div fxLayout="row">
          <div>
            Voyage Bank
          </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" required>
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
            <div *ngIf="loginFailed">
              <span>
                Invalid username or password.
              </span>
            </div>
          </div>
          <div fxLayout="column">
            <button (click)="login()" color="primary" mat-raised-button type="submit">LOGIN</button>
            <div fxLayout="row">
              <span>Don't have an account? <a routerLink="/authentication/register">Sign Up</a></span>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>

<!-- Mobile -->
<div class="masthead-mobile" *ngIf="isMobile">
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row">
      <i class="material-icons">account_balance</i>
    </div>
    <div fxLayout="row">
      <div>
        Voyage Bank
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div fxLayout="column">
        <mat-form-field class="light-input">
          <span matPrefix>
            <mat-icon>person_outline</mat-icon>
          </span>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="light-input">
          <span matPrefix>
            <mat-icon>lock_outline</mat-icon>
          </span>
          <input matInput placeholder="Password" formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <div *ngIf="loginFailed">
          <span>
            Invalid username or password.
          </span>
        </div>
        <div fxLayout="column">
          <button (click)="login()" color="primary" mat-raised-button type="submit">LOGIN</button>
          <div fxLayout="row">
            Don't have an account? <a routerLink="/authentication/register">Sign Up</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
