<div fxLayout="row">
  <mat-card fxFlex.xl="60" fxFlex.lg="70" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="overflow-wrapper">
    <mat-card-title>Profile</mat-card-title>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div style="margin-bottom:10px; margin-right:20px;" [hidden]="user == null">
          <app-profile-image [currentImage]="user?.profileImage" (imageChanged)="onProfileImageChanged($event)"></app-profile-image>
        </div>
        <div fxFlex.gt-sm>
          <form *ngIf="profileForm" fxLayout="column" [formGroup]="profileForm" (ngSubmit)="saveProfile()" novalidate>
            <mat-input-container>
              <input mdInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="profileForm.controls['email'].hasError('required')">
                Email is required
              </mat-error>
            </mat-input-container>
            <mat-input-container style="margin-top:10px;">
              <input mdInput placeholder="First Name" formControlName="firstName" required>
              <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">
                First Name is required
              </mat-error>
            </mat-input-container>
            <mat-input-container style="margin-top:10px;">
              <input mdInput placeholder="Last Name" formControlName="lastName" required>
              <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">
                Last Name is required
              </mat-error>
            </mat-input-container>
            <div formArrayName="phones" style="margin-top:10px;">
              <div *ngFor="let phone of phones.controls; let i=index" [formGroupName]="i" fxLayout="row">
                <mat-input-container fxFlex="60">
                  <input mdInput placeholder="Phone" formControlName="phoneNumber" required>
                  <mat-error *ngIf="phones.controls[i].controls['phoneNumber'].hasError('required')">
                    Phone and Type are required
                  </mat-error>
                </mat-input-container>
                <mat-select placeholder="Type" fxFlex formControlName="phoneType" fxFlex required style="margin-top: 14px;">
                  <mat-option value="Mobile">Mobile</mat-option>
                  <mat-option value="Office">Office</mat-option>
                  <mat-option value="Home">Home</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
              </div>
            </div>
            <div *ngIf="profileErrors?.length > 0">
              <span *ngFor="let error of profileErrors" style="color:#f44336">
                {{error.errorDescription}}
                <br />
              </span>
            </div>
            <div fxLayout="column" style="margin-top:30px;">
              <button type="submit" md-raised-button color="primary">
                Save Changes
              </button>
              <span>&nbsp;</span>
              <button type="button" routerLink="/examples/banking/dashboard" color="accent" md-raised-button>
                Cancel
              </button>
            </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
