<div fxLayout="row">
  <mat-card fxFlex.xl="60" fxFlex.lg="70" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="overflow-wrapper">
    <mat-card-title>Profile</mat-card-title>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div [hidden]="user == null">
          <app-profile-image [currentImage]="user?.profileImage" (imageChanged)="onProfileImageChanged($event)"></app-profile-image>
        </div>
        <div fxFlex.gt-sm>
          <form *ngIf="profileForm" fxLayout="column" [formGroup]="profileForm" (ngSubmit)="saveProfile()" novalidate>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="profileForm.controls['email'].hasError('required')">
                Email is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName" required>
              <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">
                First Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName" required>
              <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>
            <div formArrayName="phones">
              <div *ngFor="let phone of phones.controls; let i=index" [formGroupName]="i" fxLayout="row">
                <mat-form-field fxFlex="60">
                  <input matInput placeholder="Phone" formControlName="phoneNumber" required>
                  <mat-error *ngIf="phones.controls[i].controls['phoneNumber'].hasError('required')">
                    Phone and Type are required
                  </mat-error>
                </mat-form-field>
                <mat-select placeholder="Type" fxFlex formControlName="phoneType" fxFlex required>
                  <mat-option value="Mobile">Mobile</mat-option>
                  <mat-option value="Office">Office</mat-option>
                  <mat-option value="Home">Home</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
              </div>
            </div>
            <div *ngIf="profileErrors?.length > 0">
              <span *ngFor="let error of profileErrors">
                {{error.errorDescription}}
              </span>
            </div>
            <div fxLayout="column">
              <button type="submit" mat-raised-button color="primary">
                Save Changes
              </button>
              <button type="button" routerLink="/examples/banking/dashboard" color="accent" mat-raised-button>
                Cancel
              </button>
            </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
