<div fxLayout="row">
  <md-card fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <md-card-title>Profile</md-card-title>
    <!-- <form> -->
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="25">
          <img src="../assets/images/profile-resize.jpg" alt="profile" style="max-width: 100px; width: 100%; height: auto; border-radius: 50% !important;" />
          <div><h3>Rob Louie</h3></div>
          <div>Platinum HSA</div>
          <div>Gold FSA</div>
        </div>
        <div fxLayout="column" fxFlex>
          <md-input-container fxFlex>
            <input mdInput placeholder="Email">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="Cell Phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="City">
          </md-input-container>
          <md-input-container fxFlex>
            <input mdInput placeholder="State">
          </md-input-container>
          <div fxLayout="row">
            <span fxFlex></span>
            <button fxFlex.xs="50" fxFlex.lg="40" md-button>Reset Password</button>
            <button fxFlex.xs="50" fxFlex.lg="40" md-raised-button color="primary" style="margin-left: 15px;">Save Changes</button>
          </div>
        </div>
      </div>

    <!-- </form> -->
  </md-card>
</div>
