/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~/themes/voyage-theme.scss';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-card {
  margin: 10px;
}

md-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.main-content {
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.voyage-table-header {
  font-weight:bold;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
}

.voyage-table-row {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dddddd;
}

.dark-row {
  background-color: #f6f6f6;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.badge-notification {
  margin-top: -46px;
  margin-left: -15px;
  background-color: #F44336;
}

.fill-space {
  flex: 1 1 auto;
}

.profile-icon {
  background-image: url('~/assets/images/profile-resize.jpg') !important;
  background-size: cover !important;
  border-radius: 50% !important;
  height: 45px !important;
  margin-bottom: 5px !important;
  min-width: 45px !important;
  width: 45px !important;
  margin-left: 20px !important;
}
