/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-card {
  margin-bottom: 10px;
}

.card-title {
  color: #3a405b;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
}

.card-divider {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important;
}

@media only screen and (min-width: 960px) {
  mat-card {
    margin: 5px;
  }

  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*
There's a bug with transform conflicting with position:fixed. This fixes the issue.
https://github.com/angular/material2/issues/998 */
.mat-sidenav-container, .mat-sidenav-content {
  transform: none !important;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.clickable {
  cursor: pointer;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.badge-notification {
  margin-top: -46px;
  margin-left: -15px;
  background-color: #F44336;
}

.fill-space {
  flex: 1 1 auto;
}

.full-height {
  height: 100% !important;
}

.action-buttons {
  margin-top: 10px;
}

.divider {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

.masthead {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(assets/images/main-bg.jpg);
  background-position: center top;
  background-size: cover;
  margin-left: -10px;
  margin-right: -10px;
  min-height: 100%;
  height: 100%;
}

.masthead-mobile {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100% !important;
  margin: 0 !important;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(assets/images/main-bg.jpg) top left no-repeat;
  background-size: cover;
  overflow-y: auto;
  height: 100%;
}

/* Override material colors for login/registration */
.light-input .mat-form-field-label {
  color: white !important;
}

.light-input .mat-form-field-underline {
  background-color: white !important;
}

.light-input .mat-form-field-ripple {
  background-color: white !important;
}

.light-input .mat-error {
  color: white !important;
}

.light-input .mat-placeholder-required {
  color: white !important;
}

.light-input .mat-input-element {
  color: white !important;
}

.light-input .mat-select-trigger {
  color: white !important;
}

.light-input .mat-select-arrow {
  color: white !important;
}

.light-input .mat-select-underline {
  background: white !important;
}

.light-input .mat-select-value-text {
  color: white !important;
}

/* Pure CSS spinner, used on page load when Angular Material hasn't loaded yet. */
.loading-spinner {
  /* Overrides the margins on the masthead style if showing the Loading spinner */
  .masthead {
    margin: 0;
  }

  .lds-ring {
    display: inline-block;
    position: absolute;
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    width: 128px;
    height: 128px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 102px;
    height: 102px;
    margin: 12px;
    border: 12px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
