<div fxLayout="row">
  <md-card fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <md-card-title>Deposit</md-card-title>
    <form>
      <div fxLayout="column">
        <md-select placeholder="From Account" fxFlex style="margin-top:15px; margin-bottom:30px;">
          <md-option>Checking ***1234</md-option>
          <md-option>Savings ***5678</md-option>
          <md-option>Account ***0000</md-option>
        </md-select>
        <md-select placeholder="To Account" fxFlex style="margin-top:15px; margin-bottom:30px;">
          <md-option>HSA ***3333</md-option>
          <md-option>FSA ***5678</md-option>
          <md-option>Account ***0000</md-option>
        </md-select>
        <md-input-container fxFlex>
          <input mdInput placeholder="Memo">
        </md-input-container>
        <md-input-container fxFlex>
          <span mdPrefix>$</span>
          <input mdInput placeholder="Amount">
          <span mdSuffix>.00</span>
        </md-input-container>
        <div fxLayout="row">
          <span fxFlex></span>
          <button fxFlex.lg="40" md-raised-button color="primary">Transfer Cash</button>
        </div>
      </div>
    </form>
  </md-card>
</div>
